<div class="kakinkakeibo">

 <h1>家計簿</h1>

 <div class="table-responsive">
    <table class="table table-hover">
     <thead>
      <tr>
       <th></th>
       <th>家計簿名</th>
       <th>家計簿の種類</th>
      </tr>
     </thead>
     <tbody>
      <tr>
        <th></th>
        <td><%= @kakeibo.name %></td>
        <td>
         <% if @kakeibo.is_kakeibo_status == true %>
           <%= 'ガチャ家計簿' %>
         <% else %>
           <%= 'その他家計簿' %>
         <% end %>
        </td>
      </tr>
     </tbody>
    </table>
  </div>
  <div class="ranking">
   <% if @kakeibo.is_kakeibo_status == true %>

    <%= render 'kakeibos/gacharanking' %>
   <% else %>
    <%= render 'kakeibos/otherranking' %>
   <% end %>
  </div>
</div>